@media screen and (max-width:792px){
    
    #container {
        width: 90%;
    }
    
    #container header{
        line-height: normal;
        height: 90px;
    }
    
    header #menu{
        display: none;
        position: absolute;
        margin: 0;
        top: 0;
        right: 0;
        height: 700px;
        width: 70%;
        background-color: #fff;
        line-height: normal;
        padding-top: 150px;
        padding-left: 30px;
    }
    
    #menu li{
        text-align: left;
        display: block;
        margin-left: 0;
        height: 40px;
    }
    
    #menu li a{
        color: #211E28;
    }
    
    header #logo{
        margin: 30px 0;
        width: 100%;
        text-align: left;
    }
    
    #logo img{
        height: 30px;
    }
    
    #hamburguer,
    #close{
        display: block;
        position: absolute;
        top: 35px;
        right: 20px;
        z-index: 10;
    }
    
    #close{
        display: none;
    }
    
    #container #content{
        display: block;
    }
    
    #content #titular{
        width: 100%;
    }
    
    #titular img{
        height: 300px;
    }
    
    #titular #text{
        display: block;
    }
    
    #text h1{
        width: 100%;
        margin-top:  20px;
        font-size: 40px;
    }
    
    #text #descripcion{
        width: 100%;
        margin-top: 20px;
    }
    
    #descripcion p{
        margin-bottom: 20px;
    }
    
    #descripcion input[type="button"]{
        background-color: #f15051;
    }
    
    #content #news{
        margin: 0;
        width: 100%;
        margin-top: 20px;
    }
    
    #cards{
        display: block;
    }
    
    #cards #card{
        width: 100%;
        margin-bottom: 30px;
    }
    
    #cards #card:nth-child(2),
    #cards #card:nth-child(3){
        margin-left: 0px;
    }
    
    #card .info{
        width: 200px;
    }
    
    .info p{
        font-size: 14px;
    }
    
    #imgD{
        display: none;
    }
    
    #imgM{
        display: block;
    }
    
    }